
.form-style-3{
    max-width: 50%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
.form-style-3 label > span{
    float: left;
    width: 100px;
    color: white;
    font-size: 13px;
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    background:  #0087DC;
    box-shadow: inset 0px 0px 15px #0087DC;
    -moz-box-shadow: inset 0px 0px 15px #0087DC;
    -webkit-box-shadow: inset 0px 0px 15px #0087DC;
}
.form-style-3 fieldset legend{
    color: #0087DC;
    border-top: 1px solid #0087DC;
    border-left: 1px solid #0087DC;
    border-right: 1px solid #0087DC;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: white;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #0087DC;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
}
.form-style-3 textarea{
    width:250px;
    height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select,
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #0087DC;
    outline: none;
    color: #0087DC;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #0087DC;
    -moz-box-shadow: inset 1px 1px 4px #0087DC;
    -webkit-box-shadow: inset 1px 1px 4px #0087DC;
    background: white;
    width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: #0087DC;
    border: 1px solid white;
    padding: 5px 15px 5px 15px;
    color: white;
    box-shadow: inset -1px -1px 3px #0087DC;
    -moz-box-shadow: inset -1px -1px 3px #0087DC;
    -webkit-box-shadow: inset -1px -1px 3px #0087DC;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
}
.required{
    color:red;
    font-weight:normal;
}

.denotes {
  font-size: 7px;
  color: white
}
