#socialicons {
  text-align: center;
}

#socialicons .icon {
  background: MAIN_COLOR;
  display: inline-block;
  color: #00aef3;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
  margin: 0 1px 8px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
}

#socialicons .icon:hover {
  background: HOVER_COLOR;
}

.jumbo {
  height: 280px;
  background-image: url("http://daphnemaia.com/wp-content/uploads/2018/03/linkedin-background-image-elegant-awesome-linkedin-cover-ideas-pilation-of-linkedin-background-image.png");
  background-size: cover;
}

h1,h5 {
  font-family: 'Sarala', sans-serif;
  font-weight: bold;
  color: white
}

#img {
  height: 319px;
  width: 279px;
  margin-left: -260px;
  margin-top: -30px;
  box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 40%;
}

#logo {
  width: 130px;
  height: 130px;
}

h4 {
  margin-left: -260px;
  color: #00aef3;
  text-shadow: grey 1px 1px;
}

#senator {
  margin-left: -260px;
  color: gray;
}

@media screen and (max-width: 360px) {
  #logo {
    margin-top: -70px;
    width: 81px;
    height: 86px;
  }
  #img, #senator, h4 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #logo {
    display: none;
  }
  #img {
    height: 184px;
    width: 159px;
    margin-left: -15px;
    margin-top: -30px;
    box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40%;
  }
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1512px) {
  #logo{
    display: none;
  }
  #img {
    height: 184px;
    width: 159px;
    margin-left: -15px;
    margin-top: -30px;
    box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 40%;
  }
  h1{
    font-size: 30px;
  }
  #senator, h4{
    display: none;
  }
}

@media screen and (max-width: 414px) {
  #logo{
    margin-top: -70px;
    width: 81px;
    height: 86px;
  }
  #img, #senator, h4{
    display: none;
  }
}

@media screen and (max-width: 320px) {
  #logo{
    margin-top: -70px;
    width: 81px;
    height: 86px;
  }
  #img, #senator, h4{
    display: none;
  }
  h1{
    font-size: 30px;
  }
}

@media screen and (max-width: 360px) {
  #logo{
    margin-top: -70px;
    width: 81px;
    height: 86px;
  }
  #img, #senator, h4{
    display: none;
  }
}

@media screen and (max-width: 411px) {
  #logo{
    margin-top: -70px;
    width: 81px;
    height: 86px;
  }
  #img, #senator, h4{
    display: none;
  }
}

.backendMessage {
  color: blue;
}

.required {
  color: red;
}
